h2
{
  color: darkblue;
  text-align: center;
  background: white;
  margin-top: 120px;

}
img
{
  max-width: 60%;
  height: auto;
}

h1
{
  text-align: left;
}
.jumbotron{
  margin-top: 25%;
  margin-bottom: 25%;
}

