<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static',filename='template_IRN.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>

  <title>REC IRN</title>
  <script>
    function search() {
      var CityName = document.getElementById("Commune").value;
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open("GET", "/search?city=" + CityName, false);
      xmlHttp.send(null);
      document.getElementById("result").innerHTML = xmlHttp.responseText;

    }

    function search_postal(){
        var codepostal =document.getElementById("postal").value;
              var xmlHttp = new XMLHttpRequest();
              xmlHttp.open("GET", "/searchcp?code=" + codepostal, false);
              xmlHttp.send(null);
              document.getElementById("result").innerHTML = xmlHttp.responseText;
    }

    function filter_région(){
        var region =document.getElementById("Région").value;
              var xmlHttp = new XMLHttpRequest();
              xmlHttp.open("GET", "/filter_department?code=" + region, false);
              xmlHttp.send(null);
              document.getElementById("Departement").innerHTML = xmlHttp.responseText;
    }

    function filter_dept(){
        var dept =document.getElementById("Departement").value;
              var xmlHttp = new XMLHttpRequest();
              xmlHttp.open("GET", "/filter_cities?code=" + dept, false);
              xmlHttp.send(null);
              document.getElementById("Commune").innerHTML = xmlHttp.responseText;
    }

    function download_pdf(){
        var doc = new jsPDF();
        var elementHTML = $('#result').html();
        doc.fromHTML(elementHTML,15, 15,{"width":170});
        doc.save('result.pdf');
    }

    function dl_csv(){
        saveAs("{{ url_for('static',filename='Tableau_utf8.csv') }}");
    }

  </script>

</head>
<body>
<nav class="navbar navbar-expand bg-dark navbar-dark">
    <img src="{{ url_for('static',filename='REC.jpg') }}" width="70" height="50" alt="Site logo">
  <a class="navbar-brand" href="https://indice.institutnr.org"> IRN </a>
  <a class="navbar-brand" href="https://indice.institutnr.org"> Accueil </a>
    <button type="button" class="btn btn-light btn-sm ml-auto"><a download="données_globales.csv" href="{{ url_for('static',filename='Tableau_utf8.csv') }}" style="color: black">Télécharger les données </a></button>

</nav>





<div class="jumbotron m-0">
<div class="container-fluid">
<blockquote class="blockquote text center">
    <p class="lead center"> L’indice de fragilité numérique dépend de plusieurs facteurs et permet de qualifier quantitativement la facilité d’accès aux ressources en ligne pour votre département, région, ville. En effet, il prend en compte l’accès à l’information, l’accès aux interfaces, la capacité d’usage numérique, et la compétence administrative.
Plus cette indice sera élevé plus cela voudra dire que votre ville peut et se sert des ressources en lignes. Si a contrario, cet indice est faible, cela signifie que vous n’avez pas la capacité ou les moyens de vous connecter.
</p>

  <footer class="blockquote-footer"> Attention, cet indice est calculé sur des statistiques. Cela ne veut en rien dire que vous êtes où n’êtes pas capable ou dans la mesure de vous servir des ressources si votre indice est faible.
  </footer>
</blockquote>
<form action="" method="post" >
  <div class="jumbotron row m-0">

<div class="col m-0">
  <div class="card">
        <input type="number" id="postal" name="postal"/>
      <input type="button" id="butt" onclick="search_postal()" value="Recherche par code Postal"/>
  </div>
</div>



<div class="col m-0">
  <div class="card">


  <select name="Région" id="Région" class="form-control"  onChange="filter_région()">
    <option value="" selected>Région</option>
    {% for region in regions %}
    <option value="{{region.region_code}}">{{region.region_name}}</option>
    {% endfor %}
  </select>
  </div>
</div>
<div class="col m-0">
  <div class="card">


  <select name="Departement" id="Departement" class="form-control"  onChange="filter_dept()">
    <option value="" selected>Département</option>
    <option value="Lot">Lot</option>
  </select>
  </div>
</div>

<div class="col m-0">
  <div class="card">
  <select name="Commune" id="Commune" class="form-control" required >
    <option value="" selected>Commune</option>
    {% for i in range(100) %}
      <option value="{{citys[i]}}">{{citys[i]}}</option>
    {% endfor %}
  </select>
  </div>
</div>
      <button type="button" class="btn btn-dark btn-sm" onclick="search()">Envoyer</button>
</div>
  </form>
<div class="jumbotron m-0" id="result">


</div>

    {% include 'top.html' %}
<div class="row jumbotron m-0 ">

  <div class="col">
  <div class="card">
   <div class="card-body" style="height: 200px">
      <h5 class="card-title">L'acces à l'information </h5>
      <p class="card-text">Se base sur 4 criteres : être isolé, être éloigné d'un point d'information sociale ou administratif,
          être éloigné d'un point d'information numérique.</p>
   </div>
</div>
</div>
  <div class="col">
  <div class="card" style="height: 200px">
   <div class="card-body">
      <h5 class="card-title">L'acces aux interfaces </h5>
      <p class="card-text">Se base sur 4 criteres égalament : être pauvre, ne pas être équipé en ordinateur ou FAI,
      ne pas avoir de couverture mobile, ne pas avoir de couverture THD.</p>
   </div>
  </div>
</div>

    <div class="col">
  <div class="card" style="height: 200px">
   <div class="card-body">
      <h5 class="card-title">Compétence administrative </h5>
      <p class="card-text">Etre jeune, être en situation de précarité (bénéficiant des minimas sociaux , être chômeur)</p>
   </div>
  </div>
</div>


    <div class="col">
  <div class="card" style="height: 200px">
   <div class="card-body">
      <h5 class="card-title">Capacité d'usage des interfaces </h5>
      <p class="card-text">Etre âgé, être sans dipômes</p>
   </div>
  </div>
</div>
</div>
  </div>
  </div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
