<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="template_IRN.css">
  <title>REC IRN</title>

</head>

<nav class="navbar navbar-expand bg-dark navbar-dark">
  <img src="logo.jpeg" width="70" height="50" alt="Site logo">
  <a class="navbar-brand" href="https://indice.institutnr.org"> IRN </a>
  <a class="navbar-brand" href="https://indice.institutnr.org"> Accueil </a>
</nav>





<body>
<div class="jumbotron">
<div class="container-fluid">

<form action="" method="post" >
  <div class="jumbotron row">
<div class="col">
  <div class="card">
  <label for="Région">Région:</label>

  <select name="Région" id="Région" required>
    <option value="Occitanie">Occitanie</option>
  </select>
  </div>
</div>
<div class="col">
  <div class="card">
  <label for="Departement">Département:</label>

  <select name="Departement" id="Departement" required>
    <option value="Lot">Lot</option>
  </select>
  </div>
</div>
<div class="col">
  <div class="card">
  <label for="Intercommunalité">Intercommunalité:</label>

  <select name="Intercommunalité" id="Intercommunalité" required>
    <option value="C&A">C&A</option>
  </select>
  </div>
</div>
<div class="col">
  <div class="card">
  <label for="Commune">Commune:</label>

  <select name="Commune" id="Commune" required >
    <option value="Biars sur cère">Biars sur cère</option>
  </select>
  </div>
</div>
  <input type="submit" value="Envoyer" onclick="">
</div>
  </form>

<div class="row">

  <div class="col">
  <div class="card">
   <div class="card-body">
      <h5 class="card-title">Def indice</h5>
      <p class="card-text">Contenu textuel de la carte</p>
   </div>
</div>
</div>
  <div class="col">
  <div class="card">
   <div class="card-body">
      <h5 class="card-title">Def indicateur...</h5>
      <p class="card-text">Contenu textuel de la carte</p>
   </div>
  </div>
</div>

    <div class="col">
  <div class="card">
   <div class="card-body">
      <h5 class="card-title">Titre de la carte2</h5>
      <p class="card-text">Contenu textuel de la carte</p>
   </div>
  </div>
</div>


    <div class="col">
  <div class="card">
   <div class="card-body">
      <h5 class="card-title">Titre de la carte2</h5>
      <p class="card-text">Contenu textuel de la carte</p>
   </div>
  </div>
</div>
</div>
  </div>
  </div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
