  <div class="row jumbotron">

  <div class="col">
  <div class="card">
   <div class="card-body">
      <h5 class="card-title">Accès aux interfaces</h5>
      <p class="card-text">Best : Archamps, 74016 at 217</p>
   </div>
</div>
</div>
  <div class="col">
  <div class="card">
   <div class="card-body">
      <h5 class="card-title">Accès à l'information</h5>
      <p class="card-text">Best : Angers, 49007 at 505</p>
   </div>
  </div>
</div>

    <div class="col">
  <div class="card">
   <div class="card-body">
      <h5 class="card-title">Compétences Administratives</h5>
      <p class="card-text">Best : Pessac, 33318 at 597</p>
   </div>
  </div>
</div>


    <div class="col">
  <div class="card">
   <div class="card-body">
      <h5 class="card-title">Capacité d'usage informatique</h5>
      <p class="card-text">Best : Essey-lès-Nancy, 54184 at 431</p>
   </div>
  </div>

        <div class="col">
  <div class="card">
   <div class="card-body">
      <h5 class="card-title">Compétences Globales</h5>
      <p class="card-text">Best : Liévin, 62510, at 276</p>
   </div>
  </div>
</div>
</div>