  <div class="row">

  <div class="col">
  <div class="card">
   <div class="card-body">
       <h5 class="card-title">Accès à l'information</h5>
      <p class="card-text">Meilleur : Angers, 49007 avec 505</p>
   </div>
</div>
</div>

  <div class="col">
  <div class="card">
   <div class="card-body">
      <h5 class="card-title">Accès aux interfaces</h5>
      <p class="card-text">Meilleur : Archamps, 74016 avec 217</p>
   </div>
  </div>
</div>

      <div class="col">
  <div class="card">
   <div class="card-body">
      <h5 class="card-title">Capacité de competences administratives</h5>
      <p class="card-text">Meilleur : Pessac, 33318 avec 217</p>
   </div>
  </div>
</div>

    <div class="col">
  <div class="card">
   <div class="card-body">
       <h5 class="card-title">Capacité d'usage informatique</h5>
      <p class="card-text">Meilleur : Essey-lès-Nancy, 54184 avec 431</p>
   </div>
  </div>
</div>

        <div class="col">
  <div class="card">
   <div class="card-body">
       <h5 class="card-title">Compétences Globales</h5>
      <p class="card-text">Meilleur : Liévin, 62510, avec 276</p>
   </div>
  </div>
</div>
</div>